header {
    width: 100%;
    padding: 25px;
    padding-left: 10%;
    background: #ff5a5f;
    color: white;
}

#subTitle{
    font-size: 1.2em;    
} 

.container {
    width: 85%;
    padding-top: 20px;
}

.container h1 {
    margin-left: 5%;
    /*margin-bottom: 3%;*/
}

.row-no-padding {
   padding: 0 !important;
   /*margin: 0 !important;*/
}

.filterSection {
    margin-top: 15px;
}

/*.filterHeader, .radio {*/
/*    display: inline-block;*/
/*}*/
.filterHeader {
    float: left;
}

.radio {
    float: right;
    margin: 0;
}

.filterSection>.btn-group {
    margin-top: 5px;
    margin-bottom: 2%;
}

.filterTitle{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.btn-group p {
    font-weight: bold;
}

.axis .tick line{
    stroke:rgb(150,150,150);
}

.axis .tick line{
    stroke-width:.5px;
}

.custom-tooltip {
    /*width: 200px;*/
    /*height: 60px;*/
    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 1;
    padding: 0 10px 0 10px;
}

.custom-tooltip .title{
    font-size:1.2em;
    font-weight:bold;
    text-align: center;
    padding:5% 0 1% 0;
    border-bottom: 1px solid #eee;
}

.filterSection {
    text-transform: capitalize;
}

.chartMapControl {
    margin-left: 5%;
    margin-top: 2%;
}

.dropdown-toggle {
    border: none;
}

.btn:focus,.btn:active {
   outline: none !important;
}

.btn-default:hover {
  background-color: #e2e2e2;
}

.tooltipValue {
    float: right;
}

.vizContent {
    margin-bottom: 50px;    
}

.about {
    margin-bottom: 30px;    
}

.aboutTitle {
    text-transform:uppercase;
    font-size: 1.2em;
    padding: 20px 0px;
    /*font-weight:bold;*/
    /*border-bottom: 1px solid #333333;*/
}