.container {
    width: 85%;
    padding: 0;
}

.container h1 {
    margin-left: 5%;
}

.row-no-padding {
   padding: 0 !important;
   /*margin: 0 !important;*/
}

.filterSection {
    margin-top: 15px;
}

.filterTitle{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.filterSection, .radio {
    display: inline-block;
    /*margin-right: 15%;*/
}

.btn-group p {
    font-weight: bold;
}

.axis .tick line{
    stroke:rgb(150,150,150);
}

.axis .tick line{
    stroke-width:.5px;
}

.custom-tooltip {
    /*width: 100px;*/
    /*height: 60px;*/
    border: 1px solid #ddd;
    border-radius: 8px;
    opacity: 1;
    background: #eee;
    padding: 3px;
    text-align: center;
}

.filterSection {
    text-transform: capitalize;
}

.chartBtn .mapBtn {
    color: black;
}

.showMap {
    display: none;
}

/*.legend{*/
/*    width: 150px;*/
/*    height: 100px;*/
/*    background: #ddd;*/
/*}*/
